<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.testhuaping" >

    <uses-permission android:name="app.custom.permission" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
        </activity>
        <activity android:name=".oneActivity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".one1Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".one2Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".one3Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".one4Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".one5Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".twoActivity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".two1Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".two2Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".two3Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".two4Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".two5Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".threeActivity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".three1Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".three2Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".three3Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".three4Activity"
            android:label="Activity">
        </activity><!--在这里注册-->
        <activity android:name=".three5Activity"
            android:label="Activity">
        </activity><!--在这里注册-->

        <service android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"
            ></service>
    </application>

</manifest>
